<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <h1><%= zoo.name%> <%= zoo.location%>'s animals</h1>
  <% zoo.animals.forEach(function(animal){ %>
    <p>
      <a href="/zoos/<%= zoo._id%>/animals/<%= animal._id%>">See More</a>
      <%= animal.species%>
    </p>
  <% })%>
  <a href="/zoos/<%= zoo.id%>/animals/new">Add a new one!</a>
  <p>
    <a href="/zoos/<%= zoo._id%>/edit">Edit this zoo</a>
  </p>
  <p>
    <a href="/zoos">See all zoos</a>
  </p>
</body>
</html>